

h1 {
    font-family: sans-serif;
    text-align: center;
}

p{
    font-weight: 600;
    
}

body{
    font-size: 16px;
    background-color: #85F4FF;
    
}
li{
    text-align: left;
}

.html{
    font-size: 25px;
}
.css{
    font-size: 22px;
}
.git{
    font-size: 20px;
}
.skills{
    text-align: left;
}

.nome{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.foto{
    
    padding: 10px;
    background-color: #B8FFF9 ;
}

.descriçao{
    position: absolute;
    left: 300px;
    top: 300px;
}
.impar{
    padding: 5px;
    background-color: white;
}