aside {
    width: 35%;
    padding-left: 15px;
    margin-left: 15px;
    float: inline-start;
    text-align: center;
    font-style: italic;
    background-color: lightgray;

  }
img{
    width: 300px;
}
footer {
    display: block;
}

table{
    
    width: 30%;
    font-size: 20px;
}
p{
    font-size: 20px;
}

header{
    position: absolute;
    left: 40%;
    text-align: center;
}