footer{
    position: relative;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}
table{
    font-size: 20px;
    text-align: center;
}

p{
    font-size: 20px;
    
    
}
h1{
    font-size: 25px;
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }
body{
    padding: 300px;
}
header{
    text-align: center;
}
img{
    width: 30%;
}
table{
    position: relative;
    left: 40%;
    padding: 30px;
}

.video{
    text-align: center;
    padding: 20px;
}

.força{
    position: absolute;
    right: 450px;
    top: 1200px;
}
.cores{
    position: absolute;
    right: 450px;
    top: 1600px;
}
.Informações-gerais{
    text-align: center;
}